html,
body {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

#container {
    margin: 0px !important;
    height: 99.5%;
    width: 99.5%;
    /* margin-left: 5%; */
    position: relative;
    border: 1px solid red;
    overflow: hidden;
    background-color: #ffffff;
}

#score_help {
    text-align: center;
    font-size: 25px;
    background-color: #d5cdcd;
}


#hen1 {
    left: 23%;
}

#hen2 {
    left: 43%;
}

#hen3 {
    left: 63%;
}

/* #hen4 {
    left: 74%;
} */


.egg {
    background-image: url('hat2.png');
    position: absolute;
    top: 17%;
    height: 5%;
    width: 2%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 99;
}

#egg1 {

    left: calc(25% + 8%/2 - 2%/2);
}

#egg2 {
    left: calc(45% + 8%/2 - 2%/2);
}

#egg3 {
    left: calc(65% + 8%/2 - 2%/2);
}

/* #egg4 {
    left: calc(76% + 8%/2 - 2%/2);
} */

.bullseye {
    margin-left: 20px;
    display: none;
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 35px;
    background: url('x.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
}

#bullseye1 {
    left: calc(22% + 8%/2 - 7%/2);
}

#bullseye2 {
    left: calc(42% + 8%/2 - 7%/2);
}

#bullseye3 {
    left: calc(62% + 8%/2 - 7%/2);
}

/* #bullseye4 {
    left: calc(75% + 8%/2 - 7%/2);
} */

#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: #292929;
    bottom: 0;
    z-index: 10;
}

#basket {
    height: 100px;
    width: 85px;
    position: absolute;
    bottom: 5px;
    background: url('skull.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#score_1 {
    position: absolute;
    color: #000000;
    font-size: 30px;
    bottom: 98px;
    left: 30%;
}

#restart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    background-color: gray;
    color: white;
    font-size: 35px;
    display: none;
    cursor: pointer;

}





div#btnright {
    position: absolute;
    right: 0px;
    bottom: 55px;
}

div#btnleft {
    position: absolute;
    left: 0px;
    bottom: 55px;
}

button#right {
    right: 0px
}

button#left,
button#right {
    display: none;
    height: 100px;
    width: 100px;
    position: absolute;
    font-size: 1cm;
    bottom: 25px;
    /* color: #fff; */
    background: transparent;
    outline: 0px;
    border: 0px;

}
.column {
    float: left;
    width: 29.33%;
    height: 90px;
    padding: 5px;
    background: url(magickstick.png) !important;
    background-size:  contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.egg img {
    width: 100px !important;
}
@media only screen and (max-width: 1280px) {

    button#left,
    button#right {
        display: block;
    }

    .egg img {
        width: 50px !important;
    }

    #basket {
        height: 50px;
        width: 40px;
    }
}